/*http://www.latofonts.com/lato-free-fonts/*/
@import url('Fonts/LatoLatin/LatoLatinLight-Regular.css');
@import url('Fonts/LatoLatin/LatoLatinLight-Italic.css');
@import url('Fonts/LatoLatin/LatoLatinBlack-Regular.css');

html
{
        height: 100%;
}

body
{
        position: relative;
        background-color: #F8F8F8;
        margin: 0px;
        font-family: 'Avenir-Book','LatoLatinLight';
        font-size: 13pt;
        min-height: 100%;
        padding-bottom: 0em;
}

p,td
{
    font-size: 13pt;
}

#wrapper
{
        color: #303030;
        background-color: #F8F8F8;
        padding: 25px 50px 100px 50px;

        margin: 0 auto;
        min-height: 100%;
}

a
{
        text-decoration: none;
        color: #7437CE;
}

a:hover, a:focus
{
        color: #7437CE;
}

#trailer
{
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0rem;
}

h1
{
        font-family: 'Avenir-Book','LatoLatinLight';
        font-size: 15pt;
        margin: 0px 0px 30px 0px;
        padding: 0px;
        font-weight: normal;
}


h2
{
        font-family: 'Avenir-Black','LatoLatinBlack';
        font-size: 13pt;
        margin: 0px;
        padding: 15px 0px 0px 0px;
        font-weight: normal;

}

h3, fieldset legend
{
        font-family: 'Avenir-Black', 'LatoLatinBlack';
        font-size: 11pt;
        font-weight: normal;
        /*text-transform: uppercase;*/
        padding: 15px 0px 0px 0px;
        margin: 0px;
}

#header
{
}

#header .logo
{
        /* override size to allow retina quality */
        width: 163px;
        height: auto;
}

/* clean up all nav ul style definitions */
nav ul
{
        list-style: none;
        padding: 0px;
        margin: 0px;
        display: inline-block;
}

nav ul li
{
        padding: 0px;
        margin: 0px;
        display: inline-block;
}

#header
{
        padding-bottom: 8px;
}

#header nav
{
        float: right;
}

#header nav li
{
        font-size: 10pt;
}

#header nav li a
{
        text-transform: uppercase;
        text-decoration: none;
        padding: 2px 6px 2px 6px;
        color: black;
}

#header nav li a:hover, #header nav li a:focus
{
        color: white;
        background-color: #7437CE;
}

#trailer
{
        background-color: #2B144E;
        color: #C0C0C0;
        font-size: 9pt;
        padding: 10px 50px 20px 50px;
}

#trailer p
{
    margin: 0px;
}

#trailer .poweredBy
{
        width: 159px;
        height: auto;
        float: right;
}

#trailer A
{
        text-decoration: none;
        color: #C0C0C0;
}

#trailer A:hover
{
        color: white;
}

/* main content */

div > label:first-child, li > label:first-child
{
        display: inline-block;
        min-width: 200px;
        vertical-align: top;

}

/* FORM */

/* safari remove the blue border */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::selection {
  background: #7437CE; /* WebKit/Blink Browsers */
  color: white;
}

::-webkit-input-placeholder {
   color: #D0D0E0;
}



fieldset legend
{
        /* see h3 */
}

fieldset
{
        border: none;
        padding: 0px;
        margin: 12px 0px 10px 0px;
}

input[type=text], input[type=password], select
{
        font-family: 'Avenir-Book','LatoLatinLight-Regular';
        font-size: 13pt;
        width:40%;
        min-width: 200px;
        background-color: #F1EEF5;
        border: 0px;
        padding: 1px 4px;
}

input[type="radio"], input[type="checkbox"]
{
        display: none;
}

input[type="radio"] + label
{
        padding-left: 22px;
        padding-right: 16px;

        background-image: url('Images/Radiobutton@2x.png');
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: 0px 3px;
}

input[type="radio"]:checked + label
{
        background-image: url('Images/RadiobuttonChecked@2x.png');
        background-repeat: no-repeat;
}

input[type="checkbox"] + label
{
        padding-left: 22px;
        padding-right: 16px;

        background-image: url('Images/Checkbox@2x.png');
        background-size: 18px 18px;
        background-repeat: no-repeat;
}

input[type="checkbox"]:checked + label
{
        background-image: url('Images/CheckboxChecked@2x.png');
        background-repeat: no-repeat;
}

input[type="submit"], a.button
{
        background-color: #F1EEF5;
        border: 1px solid #F1EEF5;
        font-family: "Avenir-Light",'Lato';
        font-size: 10pt;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0px;
        padding: 0px 5px 0px 5px;
        color: black;
}

a.big
{
    font-size: 13pt;
}

input[type="submit"]:hover, a.button:hover
{
        background-color: #7437CE;
        color: white;
        border: 1px solid #7437CE;
}

a.current
{
    border: 1px solid #7437CE;
}

select
{
        -webkit-appearance: none;
        border-radius: 0;

        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box;
        box-sizing:content-box;

        background-image: url('Images/dropdown@2x.png');
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: right 2px top 4px;
}

select option
{
        color: red;
}

.formgroup
{
    display: inline-block;
}

.optiongroup
{
        display: inline-block;
        margin-bottom: 18px;
}

.errormessages
{
        color: #7535BF;
        font-size: smaller;
        list-style: none;
        margin: 10px 0px 10px 0px;
        padding: 0px;
}

ul.errormessages li
{
        margin: 0px;
        padding: 0px;
}

ul.objects
{
        list-style: none;
        padding: 0px;
        margin: 0px;
        margin-top: 8px;
}

ul.objects li
{
        padding-left: 0em;
        text-indent: 0em;
}

ul.objects li:before
{
        content: "\25cf  ";
        /*font-size: x-large;*/
        line-height: 0em;
        position: relative;
        top: 2px;
}

ul.objects li.good:before
{
        color: #20C020;
}

ul.objects li.bad:before, .Error
{
        color: red;
}

ul.objects li.warn:before, .Warning
{
        color: orange;
}


nav.paging
{
        padding-top: 25px;
        text-align: right;
}

nav.paging ul
{
        list-style: none;
        padding: 0px;
        margin: 0px;
        display: inline;

}

nav.paging ul li
{
        display:inline;
        margin-right: 4px;
}

nav.paging ul a
{
    background-color: #F1EEF5;
    border: 1px solid #F1EEF5;
    font-size: 10pt;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px;
    padding: 0px 5px 0px 5px;
    color: black;
}

nav.paging ul a:hover
{
    background-color: #7437CE;
    color: white;
}

nav.paging ul a.current
{
    border: 1px solid #7437CE;

}

th
{
        text-align: left;
        font-weight: normal;
        font-size: small;
        vertical-align: top;
}

td
{
        vertical-align: top;
        padding: 2px 8px 2px 2px;
}

td.nowrap
{
    white-space: nowrap;
}

table.list
{
        /*width: 100%;*/
        border-collapse: collapse;
        border-spacing: 16px 0px;
}


/* Popup layout design */
.popover
{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
}

.popover.visible
{
    opacity: 1;
    visibility: visible;
}

.popover .popover-container
{
    position: relative;
    width: 70%;
    max-width: 400px;
    margin: 8em auto;
    background: white;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 10px 10px;
}

.popover ul.buttons
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: table;
    table-layout: fixed;
    border-spacing: 4px;
    width: 100%;
}

.popover ul.buttons li
{
    display: table-cell;
    padding: 0px;
}

.popover ul.buttons li a
{
    display: inline-block;
    width: 90%;
}

.popover-container h1
{
    margin: 12px;
}

.popover-container p
{
    margin: 12px;
    padding: 0px;
}

.chart
{
    margin-bottom: 16px;
}


.gauge
{
    display: inline-block;
    height: 180px;
    width: 250px;
}




/* Overriding style sheet for lower resolutions */

@media (max-width: 640px)
{
        body
        {
                font-size: 9pt;
        }

        p,td
        {
            font-size: 8pt;
        }


        #header
        {
                padding-bottom: 10px;
        }

        #header nav
        {
                float: none;
                margin-left: -5px;
                margin-top: 2px;
        }

        #header nav li
        {
                font-size: 7pt;
        }

        #wrapper
        {
                padding: 8px 12px 100px 8px;
        }

        #trailer
        {
            padding: 8px;
        }

        #trailer p
        {
            font-size: 7pt;
        }

        #trailer .poweredBy
        {
                width: 80px;
                height: auto;
                float: right;
        }

        .chart
        {
            margin-right: 0px;
        }

        .gauge
        {
            display: inline-block;
            height: 130px;
            width: 180px;
        }


        a.button
        {
            font-size: 7pt;
        }

        a.big
        {
            font-size: 11pt;
        }

        input[type=text], input[type=password], select
        {
            font-size: 11pt;
            min-width: 60%;
        }

        .optiongroup
        {
            width: 60%;
        }

        div > label:first-child, li > label:first-child

        {
            display: inline-block;
            min-width: 100px;
                font-size: x-small;
        }

        th
        {
            font-size: x-small;
        }
}
